*{
    padding: 0;
    margin: 0;
}

section {
    width: 70%;
    text-align: center;
    margin: auto;
}

#numero_insertado {
    font-size: 10rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}