* {
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    text-align: center;
}

#section_planetas {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#personajes_planeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}