# Ignorar node_modules
node_modules/

# Ignorar carpetas de build
dist/
build/

# Ignorar archivos CSS en src para evitar error
src/**/*.css

# Ignorar archivos JSON de configuración o bases de datos locales
**/*.json

# Ignorar archivos de lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignorar archivos de configuración y scripts no relacionados al código fuente
.vscode/
*.config.js

