
header {
    text-align: center;
}

/*.main-container {
    display: flex;
    flex-wrap: column;
    justify-content: center;
}*/

.title-structure {
    margin: 0.1rem;
    padding: 0.1rem;
}

.description-structure {
    margin: 0 0 1rem 0;
    color: grey;
}

.button-submit-section-1 {
    font-size: x-small;
    width: 3rem;
    height: 1.6rem;
}

/* Section 1 */
.section-1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}

.input-email-section-1 {
    background-color: black;
    border: 0.1rem solid grey;
    border-radius: 0.2rem;
    color: white;
    padding: 0.2rem;
}

.button-submit-section-1 {
    padding: 0.2rem;
    border-radius: 0.3rem;
}

/* Section 2 */
.section-2 {
    background-color: black;
    padding: 2.5rem;
    margin: 1rem;
    color: white;
}

.card {
    border: 0.1rem solid grey;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    column-count: 2;
}

.img-supermarket {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.title-supermarket {
    padding: 0rem;
    margin: 0rem;
}

.description-supermarket {
    flex: 0 0 60%;
    column-count: 1;
    padding: 0.5rem;
    font-size: 1rem;
}

.text-supermarket, .subHeading-section {
    color: grey;
}

.button-link {
    border: 0.1rem solid grey;
    border-radius: 0.3rem;
    background-color: black;
    color: grey;
    padding: 0.3rem;
    cursor: pointer;
}
