* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

#section_peliculas {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

h1 {
    text-align: center;
}