.section-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem;
}

.navbar a {
    text-decoration: none;
    padding: 0.7rem;
    color: black;
}

main .section {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}